name: Build MAX Orchestrator

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Builder Script
        run: bash scripts/build-max-orchestrator.sh
